#dashboard/index.hbs
<div class="container-fluid padded">
  <!--<div class="row-fluid">-->

    <!--<div class="span3 pull-right">-->
      <!--<div class="action-nav-normal">-->
        <!--<div class="row-fluid">-->

          <!--<div class="span6 action-nav-button">-->
            <!--<a href="#" title="New Project">-->
              <!--<i class="icon-file-alt"></i>-->
              <!--<span>New Project</span>-->
            <!--</a>-->
            <!--<span class="triangle-button red"><i class="icon-plus"></i></span>-->
          <!--</div>-->

          <!--<div class="span6 action-nav-button">-->
            <!--<a href="#" title="Messages">-->
              <!--<i class="icon-comments-alt"></i>-->
              <!--<span>Messages</span>-->
            <!--</a>-->
            <!--<span class="label label-black">14</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="page-header">-->
  <!--<h1>Header-->
  <!--<small>Subtext for header</small>-->
  <!--</h1>-->
  <!--</div>-->
  <div class="row-fluid"  id="app-view"></div>
</div>
